node_modules
docs/.vuepress/dist
notes/
.vscode
# like .vscode, .idea avoids a dev environment's files
.idea
build
# let's not have this mutating gremlin keep appearing in merges...
src/.vuepress/contents.data.json
