$textColor = #ced8de
$accentColor = #C53334
$backgroundColor = #333333
$darkRed = #563333
$pastelRed = #6D3333
$brownRed = #443333

/* $textColor = #444
$accentColor = #6b17e6
$backgroundColor = #fff */